*{
  
  margin: 0px;
  padding: 0px;
}

.content{
  background-color: rgb(134, 216, 79);
  border: none;
  border-radius: 5px;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}
.mainheading{
  background-color: rgb(255, 255, 255);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-bottom: solid 10px rgb(70, 69, 69);

}
.heading{
  font-size: 50px;
  font-weight: 700;
  display: block;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  
}
.copy,.password {
  margin-right: 10px;
}
.parameters{
  padding: 5px;
  display: flex  ;
  align-items: center;
  justify-content: center;
}
.length,.numbersallow,.charsallow{
  margin-right: 10px;
}